@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/* DISEÑOS Y ETIQUETAS GENERALES */
:root {
    --color-fondo-oscuro: #610000;
    --color-fondo-claro: #772222;
    --color-titulos: white;
    --color-subtitulo: #610000;
    --color-texto: #ebeaea;
    --color-texto-importante: #772222;
    --fuente-titulos: "Rubik Doodle Shadow", system-ui;
    --fuente-texto: "Playpen Sans", cursive;
}

html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--color-subtitulo);
    margin-bottom: 20px;
    font-size: 2rem;
}

h3 {
    color: #772222;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.texto {
    font-family: var(--fuente-texto);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
}

.texto-importante {
    color: var(--color-texto-importante);
    font-weight: bold;
}


.bloque { padding-top: 56px; }

a {
    text-decoration: none;
    color: var(--color-texto);
}

img {
    border-radius: 5px;
}

li {
    list-style-type: none;
}

/* ---- HEADER Y CONTENIDO ---- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-titulos);
    background-color: var(--color-fondo-oscuro);
    padding: 40px;
}

header h1 {
    font-family: var(--fuente-titulos);
    letter-spacing: 2px;
}

#frase-celebre {
    font-style: italic;
    font-size: 1.1rem;
}

/* ---- NAV Y CONTENIDO ---- */
nav {
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo-claro);
    padding: 15px;
}

nav a {
    margin: 10px;
}

nav a:hover {
    color: #dad9d9;
}

nav a:active {
    color: var(--color-texto);
}

/* SECCIÓN HISTORIA */
.historia-contenido {
    display: flex;
    justify-content: space-around;
}

.historia-texto {
    width: 700px;
}

.parrafo {
    padding-left: 20px;
}

.parrafo + .parrafo {
    margin-top: 15px;
}

.historia-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 500px;
    background-color: var(--color-fondo-claro);
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

.columna-derecha {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

#historia-img-1 {
    width: 50%;
    max-width: 440px;
    height: 100%;
}

#historia-img-2 {
    width: 100%;
    max-width: 440px;
    height: calc(50% - 5px);
}

#historia-img-3 {
    width: 100%;
    max-width: 440px;
    height: calc(50% - 5px);
}


/* SECCIÓN BIOGRAFÍA */
.biografia-contenido {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0 7%;
    box-sizing: border-box;
}

.biografia-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    gap: 35px;
}

#contenido1, #contenido2, #contenido3 {
    width: 35%;
}

.contenedor-biografia-texto {
    display: flex;
    flex-direction: column;
}

.contenedor-biografia-texto img {
    width: 80%;
    margin: auto auto 0 auto;
}

/* SECCIÓN DATOS */
.datos-contenido {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0 7%;
    box-sizing: border-box;
}

.columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px 0;
}

.columna {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

h3 i {
    margin-right: 8px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-titulos);
    background-color: var(--color-fondo-oscuro);
    padding: 30px;
    margin-top: 50px;
}
